<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Query from <%= @userfirstName %> <%= @userlastName %></h3>   
    <b>Query Details:</b><br />
    First Name : <%= @userfirstName %><br />
    Last Name : <%= @userlastName %><br />
    Email ID : <%= @userEmail %><br />
    Contact Number : <%= @userContact %><br />
    Comments : <%= @comments %>
  </body>
</html>