<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Welcome to Nickslist, <%= @userfirstName %> <%= @userlastName %>.</h4>
    <p>You have successfully registered with us.</p>
    <p>
		Once your contractor license has been verified you will have full access Nickslist.<br />
		You will be notified by email once your account has been activated.
    </p>
    <p>
      Payment Details: <br />
      Payment Status: Succesful <br />
      Payment Amount: <%= @amount %> <br />
      Transaction ID : <%= @invoiceNumber %> <br />
    </p>
    <% if(!@authCode.blank?) %>
    <p>
    	To register and subscribed new subsequent users, you can use the authorization code <b><%= @authCode %></b>. By using this authcode you will get 30% discount on subscription price.
    </p>
    <% end %>
    <p>Thank you for joining Nickslist and have a great day.</p>
  </body>
</html>