<%= render partial: "/layouts/header" %>
<script type="text/javascript">
	function Popup() 
    {
    	var data = $('#Term-Condition-area').html(); 
        var mywindow = window.open('', 'Terms & Conditions', 'height=500,width=1000');
        mywindow.document.write('<html><head><title>Terms & Conditions</title>');
        mywindow.document.write('</head><body style="text-align: justify">' + data + '</body></html>');
        mywindow.print();
        mywindow.close();

        return false;
    }
</script>
<div id="main-content-wrapper">
	<div class="browser-center">

		<div id="signup-wrapper">
			<div id="signup-header">
				<h1>Terms & Conditions</h1>
				<h2>Please read and confirm the terms and conditions to move forward.</h2>
			</div>

			<div id="Term-Condition-area">
				<%= @content %>
			</div>

			<div class="singup-textarea-right">
				<form action="<%= customer_search_GetDetails_url %>" method="post">
					<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
					<input type="hidden" name="hidLastName" id="hidLastName" value="<%= @lastName %>" />
					<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" value="<%= @streetAddress %>" />
					<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City" value="<%= @city %>" />
					<input type="hidden" name="hidselectState" id="hidselectState" placeholder="State" value="<%= @state %>" />
					<input type="hidden" name="hidZipCode" id="hidZipCode" value="<%= @zipCode %>" />
					<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" value="<%= @phoneNumber %>" />
					<input type="hidden" name="hidIsAgree" id="hidIsAgree" value="0" />

					<input type="submit" name="Submit" id="Submit" value="Cancel" class="org-bt" />
				</form>
			</div>

			<div class="singup-textarea-right">
				<form action="<%= @redirectUrl %>" method="post">
					<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
					<input type="hidden" name="hidLastName" id="hidLastName" value="<%= @lastName %>" />
					<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" value="<%= @streetAddress %>" />
					<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City" value="<%= @city %>" />
					<input type="hidden" name="hidselectState" id="hidselectState" placeholder="State" value="<%= @state %>" />
					<input type="hidden" name="hidZipCode" id="hidZipCode" value="<%= @zipCode %>" />
					<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" value="<%= @phoneNumber %>" />
					<input type="hidden" name="hidReviewerID" id="hidReviewerID" value="<%= @reviewerID %>" />
					<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= @reviewID %>" />
					<input type="hidden" name="hidCurrentIndex" id="hidCurrentIndex" value="<%= @currentIndex %>" />
					<input type="hidden" name="hidReviewCount" id="hidReviewCount" value="<%= @reviewCount %>" />
					<input type="hidden" name="hidIsAgree" id="hidIsAgree" value="1" />
					
					<input type="button" value="Print Terms & Conditions" onclick="Popup();" class="org-bt" />
					<input type="submit" name="Submit" id="Submit" value="I Agree" class="org-bt" />
					
				</form>
				
				</div>
			

		</div>

	</div>

</div>

<%= render partial: "/layouts/footer" %>
