<!DOCTYPE html>
<html>
	<head>
		<title>NicksList - Add Reviews</title>
		
	</head>
	<body>
		<div id="wrapper">
		<%= render partial: "/layouts/header" %>
		
		<div id="main-content-wrapper">
			<div class="browser-center">

				<div id="review-header">
					<div id="review-header-left">
						<h1><%= @firstName %>  <%= @lastName %></h1>
						<p>
							<% if(@reviewCount == '1') %>
							has <%= @reviewCount%> review available
							<% else %>
							has <%= @reviewCount %> reviews available
							<% end %>
						</p>
					</div>
					<div id="review-header-right">
						<div class="address-desc">
							<%= @streetAddress %>,	<%= @citystateVal %> <%= @zipCode %>
						</div>
						<div class="address-phone">
							<%= @phoneNumber %>
						</div>
					</div>
				</div>

				<div id="signup-wrapper">
					<div id="signup-header">
						<h1>Update Review Details</h1>
						<!--<h2>Please fill the below given form to provide your reviews</h2>
						</div>
						<div class="steps"><%= image_tag("step1.jpg", :alt => "") %></div>-->

						<div id="singup-form-area">

							<% if(!@reviewQuestion.blank?) %>
							<form action="<%= review_customers_UpdateReviewData_url %>" method="post">
								<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
								<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= @lastName %>" />
								<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
								<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= @citystateVal %>" />
								<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= @zipCode %>" />
								<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= @phoneNumber %>" />

								<div id="divGeneral">
									<% @reviewQuestion.each do |quset| %>
									<% if(quset.Type == "General") %>
									<% if(quset.ParentID == nil) %>
									<div>
										<!--<%= image_tag("review-ques.jpg", :alt => "", :width => "20px", :height => "20px") %>-->
										<%= quset.Description %>?
										<br />
										<% if(@reviewAnswers[quset.ID - 1].IsYes == "Yes") %>
										<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_Y<%= quset.ID %>" value="Yes" />
										<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_N<%= quset.ID %>" value="No" />
										<label for="radYesNo_N<%= quset.ID %>">No</label>
										
										<% elsif(@reviewAnswers[quset.ID - 1].IsYes == "No") %>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="Yes" />
										<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
										<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="No" />
										<label for="radYesNo_N<%= quset.ID %>">No</label>
										
										<% else %>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="Yes" />
										<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="No" />
										<label for="radYesNo_N<%= quset.ID %>">No</label>
										<% end %>
										<% if(quset.ID == 1) %>
										<br />
										<textarea id="quesComment<%= quset.ID %>" rows="4" cols="50" name="quesComment<%= quset.ID %>"><%= @reviewAnswers[quset.ID - 1].Comments %></textarea>
										<br />
										<br />
										<% end %>

									</div>
									<% else %>
									<div>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<%= quset.Description %>?
										<br />
										<% if(quset.ID != 7) %>
										
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<% if(@reviewAnswers[quset.ID - 1].IsYes == "Yes") %>
										<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_Y<%= quset.ID %>" value="Yes" />
										<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_N<%= quset.ID %>" value="No" />
										<label for="radYesNo_N<%= quset.ID %>">No</label>
										<% elsif(@reviewAnswers[quset.ID - 1].IsYes == "No") %>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="Yes" />
										<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
										<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="No" />
										<label for="radYesNo_N<%= quset.ID %>">No</label>
										<% else %>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="Yes" />
										<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="No" />
										<label for="radYesNo_N<%= quset.ID %>">No</label>
										<% end %>
										
										<% else %>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<% if(@reviewAnswers[quset.ID - 1].IsYes == "Bid process") %>
										<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_Bid<%= quset.ID %>" value="Bid process" />
										<% else %>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_Bid<%= quset.ID %>" value="Bid process" />

										<% end %>
										<label for="radYesNo_Bid<%= quset.ID %>">Bid process?</label>
										<br />
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<% if(@reviewAnswers[quset.ID - 1].IsYes == "Doing the work") %>
										<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_Work<%= quset.ID %>" value="Doing the work" />
										<% else %>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_Work<%= quset.ID %>" value="Doing the work" />

										<% end %>
										<label for="radYesNo_Work<%= quset.ID %>">Doing the work?</label>
										<br />
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<% if(@reviewAnswers[quset.ID - 1].IsYes == "Completion") %>
										<input type="radio" checked="checked" name="radYesNo_Completion<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="Completion" />
										<% else %>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_Completion<%= quset.ID %>" value="Completion" />

										<% end %>
										<label for="radYesNo_Completion<%= quset.ID %>">Completion?</label>
										<br />
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<% if(@reviewAnswers[quset.ID - 1].IsYes == "After completion") %>
										<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_AfterComp<%= quset.ID %>" value="After completion" />
										<% else %>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_AfterComp<%= quset.ID %>" value="After completion" />

										<% end %>
										<label for="radYesNo_AfterComp<%= quset.ID %>">After completion?</label>
										<br />
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<% if(@reviewAnswers[quset.ID - 1].IsYes == "All of the above") %>
										<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_All<%= quset.ID %>" value="All of the above" />
										<% else %>
										<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_All<%= quset.ID %>" value="All of the above" />
										<% end %>
										<label for="radYesNo_All<%= quset.ID %>">All of the above?</label>
										<% end %>
									</div>
									<% end %>
									<% end %>
									<% end %>
								</div>
								<div id="divDetailed" style="display: none">
									<% @reviewQuestion.each do |quset| %>
									<% if(quset.Type == "Detailed") %>
									<%= quset.Description %>?
									<% if(quset.ID != 17) %>
									<br />
									<% if(@reviewAnswers[quset.ID - 1].IsYes == "Yes") %>
									<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_Y<%= quset.ID %>" value="Yes" />
									<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
									<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_N<%= quset.ID %>" value="No" />
									<label for="radYesNo_N<%= quset.ID %>">No</label>

									<% elsif(@reviewAnswers[quset.ID - 1].IsYes == "No") %>
									<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="Yes" />
									<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
									<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="No" />
									<label for="radYesNo_N<%= quset.ID %>">No</label>

									<% else %>
									<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="Yes" />
									<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
									<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="No" />
									<label for="radYesNo_N<%= quset.ID %>">No</label>
									<% end %>
									<% end %>
									<br />
									<textarea id="quesComment<%= quset.ID %>" rows="4" cols="50" name="quesComment<%= quset.ID %>"><%= @reviewAnswers[quset.ID - 1].Comments %></textarea>
									<br />
									<br />
									<% end %>
									<% end %>
									<br />
									<br />
									<div class="singup-textarea">
										<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
										<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= @lastName %>" />
										<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
										<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= @citystateVal %>" />
										<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= @zipCode %>" />
										<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= @phoneNumber %>" />
										<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= @reviewID %>" />
										<input type="submit" name="Submit" id="Submit" value="Update" class="org-bt" />
									</div>
								</div>
							</form>
							<button id="btnContinue" class="org-bt" onclick="ShowHideDiv('General');" >
								Continue
							</button>
							<button id="btnBack" class="org-bt" style="display:none" onclick="ShowHideDiv('Detailed');" >
								Back
							</button>
							<% end %>
						</div>

					</div>

				</div>
			</div>
		</div>

		<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
