<html>
	<head>
		<script>
			$(function()
			{
				$("#frmSearchResultPage").submit();
			});
		</script>
	</head>
	<body>
		<form id="frmSearchResultPage" action="<%= customer_search_GetDetails_url %>" method="post">
			<input name="txtFirstName" type="hidden" id="txtFirstName" placeholder="First Name" value="<%= @firstName %>" />
			<input name="txtLastName" type="hidden" id="txtLastName" placeholder="Last Name" value="<%= @lastName %>" />
			<input name="txtStreetAddress" type="hidden" id="txtStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
			<input name="selectCity" type="hidden" id="selectCity" value="<%= @cityState %>" />
			<input name="txtZipCode" type="hidden" id="txtZipCode" value="<%= @zipCode %>" />
			<input name="txtPhoneNumber" type="hidden" id="txtPhoneNumber" value="<%= @phoneNumber %>" />
		</form>
	</body>
</html>