<!DOCTYPE html>
<html>
	<head>
		<title>NicksList - User Registration</title>
		<script>
			function SignupForm_visibility() {
				var idSignupCode = document.getElementById('SignupCode');
				var idSignupReadOnlyCode = document.getElementById('SignupReadOnlyCode');
				var idSignupForm = document.getElementById('SignupForm');
				if (document.getElementById('chkCode').checked) {
					idSignupCode.style.display = 'block';
					idSignupReadOnlyCode.style.display = 'none';
					idSignupForm.style.display = 'none';
				} else {
					idSignupCode.style.display = 'none';
					idSignupReadOnlyCode.style.display = 'none';
					idSignupForm.style.display = 'block';
					$('#hiddenFilledCode').val('');
					$('#textCode').val('');
					$('#textFilledCode').val('');
					document.getElementById('chkAddress').disabled = false;
					document.getElementById('textFilledCode').disabled = false;
					document.getElementById('textCompany').disabled = false;
					document.getElementById('textIncorporationType').disabled = false;
					document.getElementById('textBussStreetAddress').disabled = false;
					document.getElementById('textBussCity').disabled = false;
					document.getElementById('textBussZipCode').disabled = false;
					document.getElementById('textMailStreetAddress').disabled = false;
					document.getElementById('textMailCity').disabled = false;
					document.getElementById('textMailZipCode').disabled = false;
					document.getElementById('textPhoneNumber').disabled = false;
					document.getElementById('textLicense').disabled = false;
				}
			}

			function Change_CheckCode() {
				document.getElementById('SignupCode').style.display = 'block';
				document.getElementById('SignupReadOnlyCode').style.display = 'none';
				document.getElementById('SignupForm').style.display = 'none';
				document.getElementById('chkCode').disabled = false;
			}

			function check_chkAddress(chk) {
				var idSignupCode = document.getElementById('SignupCode');
				var idSignupReadOnlyCode = document.getElementById('SignupReadOnlyCode');
				var idSignupForm = document.getElementById('SignupForm');
				if (chk.checked) {
					document.getElementById('textMailStreetAddress').value = document.getElementById('textBussStreetAddress').value;
					document.getElementById('textMailStreetAddress').readOnly = true;
					document.getElementById('textMailCity').value = document.getElementById('textBussCity').value;
					document.getElementById('textMailCity').readOnly = true;
					document.getElementById('textMailZipCode').value = document.getElementById('textBussZipCode').value;
					document.getElementById('textMailZipCode').readOnly = true;
				} else {
					document.getElementById('textMailStreetAddress').value = '';
					document.getElementById('textMailStreetAddress').readOnly = false;
					document.getElementById('textMailCity').value = '';
					document.getElementById('textMailCity').readOnly = false;
					document.getElementById('textMailZipCode').value = '';
					document.getElementById('textMailZipCode').readOnly = false;
				}
			}

			function SignupForm_AuthUser(authCode, bussStreetAddress, bussCity, bussZipCode, mailStreetAddress, mailCity, mailZipCode) {
				var idSignupCode = document.getElementById('SignupCode');
				var idSignupReadOnlyCode = document.getElementById('SignupReadOnlyCode');
				var idSignupForm = document.getElementById('SignupForm');

				if (authCode != '') {
					idSignupCode.style.display = 'none';
					idSignupReadOnlyCode.style.display = 'block';
					idSignupForm.style.display = 'block';

					document.getElementById('chkCode').checked = true;
					document.getElementById('chkCode').disabled = false;
					document.getElementById('textFilledCode').disabled = true;
					document.getElementById('textCompany').disabled = true;
					document.getElementById('textIncorporationType').disabled = true;
					document.getElementById('textBussStreetAddress').disabled = true;
					document.getElementById('textBussCity').disabled = true;
					document.getElementById('textBussZipCode').disabled = true;
					document.getElementById('textMailStreetAddress').disabled = true;
					document.getElementById('textMailCity').disabled = true;
					document.getElementById('textMailZipCode').disabled = true;
					document.getElementById('textPhoneNumber').disabled = true;
					document.getElementById('textLicense').disabled = true;

					if(bussStreetAddress != '' && bussCity != '' && bussZipCode != '')
					{
						if (bussStreetAddress == mailStreetAddress && bussCity == mailCity && bussZipCode == mailZipCode) {
							document.getElementById('chkAddress').checked = true;
						} else {
							document.getElementById('chkAddress').checked = false;
						}
					}
					document.getElementById('chkAddress').disabled = true;
				} else {
					idSignupCode.style.display = 'none';
					idSignupReadOnlyCode.style.display = 'none';
					idSignupForm.style.display = 'block';
				}
			}
		</script>
	</head>
	<body onload="SignupForm_AuthUser('<%= @userauthCode %>', '<%= @userbussStreetAddress %>', '<%= @userbussCity %>', '<%= @userbussZipCode %>', '<%= @usermailStreetAddress %>', '<%= @usermailCity %>', '<%= @usermailZipCode %>'); <% if(!@error.blank?)%> SignupForm_visibility(); <% end %>">
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div id="signup-wrapper">
						<div id="signup-header">
							<h1>Register with us</h1>
							<h2>Sign-up in just a few easy steps</h2>
						</div>
						<!--<div class="steps"><%= image_tag("step1.jpg", :alt => "") %></div>-->

						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>
									<div>Create Your Account</div>
									<% if(@messageString != nil)%>
                        				<div id="messageDiv" class="error"><%= @messageString %></div>
                        			<% end %>
								</h1>
								<p>
									Fill the basic information below to create your account
								</p>
							</div>

							<div class="singup-form">
								<div id="chkCodeBox">
									<input type="checkbox" id="chkCode" name="chkCode" onclick="SignupForm_visibility();" value="1" />
									<label for="chkCode">I have company authorization code. </label>
								</div>
								<div id="SignupCode">
									<form action="/user_registeration/GetRegister" method="post">
										<div class="singup-textarea">
											<input type="text" name="textCode" id="textCode" required="true" class="singup-textbox-small" placeholder="Authorization Code" pattern="^[0-9]+[0-9]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [12345678]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input type="submit" name="Submit" id="Submit" value="Submit" class="org-bt" />
										</div>
									</form>
								</div>
								<div id="SignupReadOnlyCode">
									<div class="singup-textarea">
										<input type="text" name="textFilledCode" required="true" id="textFilledCode" value="<%= @userauthCode %>" class="singup-textbox-small"  placeholder="Authorization Code" />
									</div>
									<div class="singup-textarea">
										<a href="#" onclick="Change_CheckCode();">Change Authorization Code</a>
									</div>
								</div>
								<div id="SignupForm">
									<form action="/user_registeration/GetRegister" method="post">
										<input type="hidden" id="hiddenFilledCode" name="hiddenFilledCode" value="<%= @userauthCode %>" />
										<div class="singup-textarea">
											<input type="text" name="textCompany" id="textCompany" required="true" class="singup-textbox"  placeholder="Name of Company" maxlength="100" value="<%= @usercompanyName %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textFirstName" id="textFirstName" required="true" class="singup-textbox-small"  placeholder="First Name" value="<%= @userfirstName %>" maxlength="20" pattern="^[A-Za-z]+[A-Za-z]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textLastName" id="textLastName" required="true" class="singup-textbox-small"  placeholder="Last Name" value="<%= @userlastName %>" maxlength="20" pattern="^[A-Za-z]+[A-Za-z]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textIncorporationType" id="textIncorporationType" required="true" class="singup-textbox"  placeholder="Type of Incorporation" value="<%= @userincorporationType %>" maxlength="20" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textBussStreetAddress" required="true" id="textBussStreetAddress" class="singup-textbox" placeholder="Business Street Address" value="<%= @userbussStreetAddress %>" maxlength="100" pattern="^[A-Za-z0-9 ,]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [11111, Street Address]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textBussZipCode" id="textBussZipCode" required="true" class="singup-textbox-small"  placeholder="ZipCode" value="<%= @userbussZipCode %>" maxlength="6" pattern="^[0-9]+[0-9]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [123456] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textBussCity" id="textBussCity" required="true" class="singup-textbox-small" placeholder="City, State" value="<%= @userbusscitystateVal %>" maxlength="20" pattern="^[A-Za-z]+[ ]?[A-Za-z]+,[ ][A-Za-z]{2,2}$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>
										

										<div class="singup-textarea">
											<input type="checkbox" id="chkAddress" name="chkAddress" value="1" onclick="check_chkAddress(this);" />
											<label for="chkAddress">Use Business Address as Mailing Address.</label>
										</div>
										<div class="singup-textarea">
											<input type="text" name="textMailStreetAddress" id="textMailStreetAddress" required="true" class="singup-textbox"  placeholder="Mailing Street Address" value="<%= @usermailStreetAddress %>" maxlength="100" pattern="^[A-Za-z0-9 ,]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [11111, Street Address]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textMailZipCode" id="textMailZipCode" required="true" class="singup-textbox-small"  placeholder="ZipCode" value="<%= @usermailZipCode %>" maxlength="6" pattern="^[0-9]+[0-9]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [123456] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textMailCity" id="textMailCity" required="true" class="singup-textbox-small" placeholder="City, State" value="<%= @usermailcitystateVal %>" maxlength="20" pattern="^^[A-Za-z]+[ ]?[A-Za-z]+,[ ][A-Za-z]{2,2}$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>
										

										<div class="singup-textarea">
											<input type="text" name="textPhoneNumber" id="textPhoneNumber" required="true" class="singup-textbox-small"  placeholder="Phone Number" value = "<%= @userphoneNumber %>" maxlength="12" pattern="^[0-9]{3,3}[-]?[0-9]{3,3}[-]?[0-9]{4,4}$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [1234567890 or 123-456-7890] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textEmail" id="textEmail" required="true" class="singup-textbox-small"  placeholder="Email Address" value="<%= @useremail %>" value="<%= @userContact %>" maxlength="50" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [example@example.com] ')" oninput="setCustomValidity('')" />
										</div>
										
										<div class="singup-textarea">
											<input type="text" name="textLicense" id="textLicense" required="true" class="singup-textbox-small"  placeholder="Contractor License Number" value="<%= @userlicense %>" maxlength="20" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textUserName" id="textUserName" autocomplete="off" required="true" class="singup-textbox-small" placeholder="User Name" value="<%= @useruserName %>" maxlength="20" />
										</div>
										<div class="singup-textarea">
											<input type="password" name="textPassword" id="textPassword" autocomplete="off" required="true" onchange="form.textConfirmPassword.pattern = this.value;" class="singup-textbox-small"  placeholder="Password" maxlength="20" />
										</div>
										<div class="singup-textarea">
											<input type="password"  name="textConfirmPassword" id="textConfirmPassword" autocomplete="off" required="true" class="singup-textbox-small"  placeholder="Confirm Password" maxlength="20" />
										</div>
										<div class="singup-textarea">
											<input type="submit" name="Submit" id="Submit" value="Save & Continue" class="org-bt" />
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
