<!DOCTYPE html>
<html>
<head>
	<title>NicksList - User Registration</title>
	
</head>
<body>
	<div id="wrapper">
	<%= render partial: "/layouts/header" %>
	
    <div id="main-content-wrapper">
    	<div class="browser-center">
        	<div id="signup-wrapper">
               <div id="signup-header">
                  <h1>Register with us</h1>
                  <h2>Sign-up in just a few easy steps</h2>
                  
               </div>
               <!--<div class="steps"><%= image_tag("step1.jpg", :alt => "") %></div>-->
               <div class="steps" style="font-size: 14px">Auth Code:<%= @keyCode %></div>
               <div id="singup-form-area">
               		<div class="singup-form-heading">
                    	<h1>Subscription Details</h1>
                        <p>Please review the following details of your subscription details.</p>
                        <div id="Error"><%= @messageString %></div>        
                    </div>
                    
               		<div class="singup-form">              			
               			<div id="SignupForm">

               			<!--<form action="/user_registeration/show" method="post">
                    	<div>
                    	  <div class="subscription-Item">Company Name : </div><div class="subscription-Value"><%= params[:textCompany]%></div>
                    	</div>
                        <div>
                    	  <div class="subscription-Item">First Name : </div><div class="subscription-Value"><%= params[:textFirstName]%></div>
                        </div>
                        <div>
                          <div class="subscription-Item">Last Name : </div><div class="subscription-Value"><%= params[:textLastName]%></div>
                        
                    	</div>
                        <div>
						  <div class="subscription-Item">Incorporation Type : </div><div class="subscription-Value"><%= params[:textIncorporationType]%></div>
                        
                    	</div>
                    	<div>
                    	  <div class="subscription-Item">Phone Number : </div><div class="subscription-Value"><%= params[:textPhoneNumber]%></div>
                        
                    	</div>
                        <div>
                    	  <div class="subscription-Item">Email ID : </div><div class="subscription-Value"><%= params[:textEmail]%></div>
                        
                          </div>
                        <div>
                    	  <div class="subscription-Item">License Number : </div><div class="subscription-Value"><%= params[:textLicense]%></div>
                        
                    	</div>
                    	<div class="subscription-Title">Business Address</div>
                    	
                        
                    	<div>
                    	  <div class="subscription-Item">Street Address : </div><div class="subscription-Value"><%= params[:textBussStreetAddress]%></div>
                        
                    	</div>
                    	<div>
                    	  <div class="subscription-Item">City : </div><div class="subscription-Value"><%= @bussCity %></div>
                        
                    	</div>
                    	<div>
                    	  
                    	  <div class="subscription-Item">State : </div><div class="subscription-Value"><%= @bussState %></div>
                        
                    	</div>
                        <div>
                    	  <div class="subscription-Item">Zip Code: </div><div class="subscription-Value"><%= params[:textBussZipCode]%></div>
                        
                    	</div>
                    	<div class="subscription-Title">Mailing Address</div>
                    	
                        
                        <div>
                    	  <div class="subscription-Item">Street Address : </div><div class="subscription-Value"><%= params[:textMailStreetAddress]%></div>
                        
                    	</div>
                    	<div>
                    	  <div class="subscription-Item">City : </div><div class="subscription-Value"><%= @mailCity %></div>
                        
                    	</div>
                    	<div>
                    	  <div class="subscription-Item">State : </div><div class="subscription-Value"><%= @mailState %></div>
                        
                    	</div>
                        <div>
                    	  <div class="subscription-Item">Zip Code : </div><div class="subscription-Value"><%= params[:textMailZipCode]%></div>
                        
                    	</div>
                    	<div class="subscription-Title">Subscription Price</div>
                    	
                        
                    	<div>
                    	  <div class="subscription-Item">Price : </div><div class="subscription-Value">$<%= params[:hiddenPrice]%></div>
                          <br />
                    	</div>
                        <div class="singup-textarea">
                        	<input type="submit" name="Submit" id="Submit" value="Confirm & Continue" class="org-bt" value="<%= params[:textFirstName]%>" />
                        </div>
                     </form>-->
                        </div>
                    </div>
               </div>
               
             </div>
        </div>
    </div>
    
   <%= render partial: "/layouts/footer" %>
    
</div>
</body>
</html>
