<!DOCTYPE html>
<html>
<head>
	<title>NicksList - User Registration</title>
	
</head>
<body>
	<div id="wrapper">
	<%= render partial: "/layouts/header" %>
	
    <div id="main-content-wrapper">
    	<div class="browser-center">
        	<div id="signup-wrapper">
               <div id="signup-header">
                  <h1>Register with us</h1>
                  <h2>Sign-up in just a few easy steps</h2>
                  
               </div>
               <!--<div class="steps"><%= image_tag("step1.jpg", :alt => "") %></div>-->
               <div id="singup-form-area">
               		<div class="singup-form-heading">
                    	<h1>Payment Details</h1>
                        <p>Please note down the following payment details for further enquiry regarding this payment.</p>       
                    </div>
                    
               		<div class="singup-form">              			
               			<div id="SignupForm">              				
               			<form action="/user_registeration/Finish" method="post">
                    	<div>
                    	  <div class="subscription-Item">Payment Status: </div><div class="subscription-Value"><%= @responseStatus %></div>
                    	</div>
                    	<div>
                    	  <div class="subscription-Item">Payment Amount: </div><div class="subscription-Value"><%= @currency %> <%= @amount %></div>
                    	</div>
                        <div>
                    	  <div class="subscription-Item">Transaction ID : </div><div class="subscription-Value"><%= @transactionID %></div>
                        </div>
                        <div>
                          <div class="subscription-Item">Payment Date : </div><div class="subscription-Value"><%= @timestamp %></div>                        
                    	</div>
                    	
                        <div class="singup-textarea">
                        	<input type="submit" name="Submit" id="Submit" value="Finish" class="org-bt" />
                        </div>
                     </form>
                        </div>
                    </div>
               </div>
               
             </div>
        </div>
    </div>
    
    <%= render partial: "/layouts/footer" %>
    
</div>
</body>
</html>
