<!DOCTYPE html>
<html>
	<head>
		<title>NicksList-About Us</title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<!--<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>-->
		<script type="text/javascript">
			$(document).ready(function() {
				$('.bxslider').bxSlider({
					mode : 'horizontal',
					speed : '500',
					auto : 'true',
					pause : '5000'
				});
				$('.login-register a').click(function() {
					$('#signin_menu').toggle();
				});
				$('.logout-register a').click(function() {
					$('#signout_menu').toggle();
				});
				$('body').click(function(evt) {
					if ($(evt.target).parents('#login-reg').length == 0 && $(evt.target).parents('#signin_menu').length == 0 && evt.target.id != 'signin_menu') {
						$('#signin_menu').hide();
					}
				});
			});

			$(function() {
				$("#selectCity").autocomplete({
					source : availableCities
				});
			});
		</script>
	</head>
	<body onload="openLogin('<%= @openLogin %>');">
		<div id="wrapper">
			<div id="header-wrapper">
				<div class="browser-center">
					<div id="header-area">
						<div id="logo">
							<a href="/"><%= image_tag("logo.jpg", :alt => "") %></a>
						</div>
						<div id="facebook-like">
							<%= image_tag("facebook-like.jpg", :alt => "") %>
						</div>
						<div id="customer-support">
							<p>
								Customer Support
							</p>
							<h1>703 555 5555</h1>
							<p>
								Any Questions <a href="mailto:">Email Us</a>
							</p>
						</div>
						<div id="navigation">
							<div id="nav">
								<ul>
									<li class="first">
										<a href="<%= root_url %>" class="active">Home</a>
									</li>
									<li>
										<a href="<%= nicks_list_About_url %>">About BillysList</a>
									</li>
									<li>
										<a href="<%= nicks_list_HowItWorks_url %>">How it works </a>
									</li>
									<li>
										<a href="#">FAQ’s</a>
									</li>
									<li>
										<a href="#">Testimonials</a>
									</li>
									<li>
										<a href="#">Press Release</a>
									</li>
									<li>
										<a href="#">Contact Us</a>
									</li>
								</ul>
							</div>
							<div class="login-wrapper">
								<% if(session[:user_id] == nil) %>
								<div id="login-reg" class="login-register">
									<a>Login / Register</a>
								</div>
								<div id="signin_menu">
									<form action="<%= authentication_login_url %>" method="post">
										<p>
											<label for="username">Username</label>
											<input id="textUserName" name="textUserName" required="required" value="" title="User Name" tabindex="4" type="text">
										</p>
										<p>
											<label for="password">Password</label>
											<input id="textPassword" name="textPassword" required="required" value="" title="password" tabindex="5" type="password">
										</p>
										<% if(!@errorMessage.blank?) %>
										<p><b><%= @errorMessage %></b></p>
										<% end %>
										<p class="remember">
											<input id="signin_submit" value="Sign in" tabindex="6" type="submit">
											<!--<input id="remember" name="remember_me" value="1" tabindex="7" type="checkbox">
											<label for="remember">Remember me</label>-->
										</p>
										<p class="forgot">
											<a href="<%= authentication_requestpassword_url %>" id="resend_password_link">Forgot your password?</a>
										</p>
										<div class="signup">
											New User? <a href="<%= user_registeration_GetRegister_url %>">Signup Here</a>
										</div>
									</form>
								</div>
								<% else %>
								<div  class="logout-register">
									<%= image_tag("user.png", :alt => "", :width => "40px", :height=> "40px") %><a><%= session[:user_name] %>
								</div>
								<div id="signout_menu">
									<form action="<%= user_profile_ViewProfile_url %>" method="post">
										
											<input id="signout_submit" value="My Profile" tabindex="6" type="submit">
										
									</form>
									<form action="/authentication/logout" method="post">
										
											<input id="signout_submit" value="Sign Out" tabindex="6" type="submit">
										
									</form>
								</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="banner">
				<div class="browser-center">
					<div id="innwe-banner-area">
						<div id="search">
							<form action="/customer_search/GetDetails" method="post">
								<div class="search-heading">
									Search Customer Rate/Reviews or Search for info on a potential customer.
								</div>
								<div id="search-form">
									<div class="form-textbox">
										<input name="txtFirstName" type="text" required="true" class="textbox-small" id="txtFirstName" placeholder="First Name" />
									</div>
									<div class="form-textbox">
										<input name="txtLastName" type="text" required="true" class="textbox-small" id="txtLastName" placeholder="Last Name" />
									</div>
									<div class="form-textbox">
										<input name="txtStreetAddress" type="text" required="true" class="textbox" id="txtStreetAddress" placeholder="Street Address" />
									</div>
									<div class="form-textbox">
										<input name="selectCity" type="text" required="true" autocomplete="off" class="textbox" id="selectCity" placeholder="City, State" />
									</div>
									<div class="form-textbox">
										<!--<input name="selectState" type="text" required="true" class="textbox" id="selectState" placeholder="State" />-->
									</div>
									<div class="form-textbox">
										<input name="txtZipCode" type="text" required="true" class="textbox-small" id="txtZipCode" placeholder="Zipcode" />
									</div>
									<div class="form-textbox">
										<input name="txtPhoneNumber" type="text" required="true" class="textbox-small" id="txtPhoneNumber" placeholder="Phone Number" />
									</div>
									<div class="form-textbox">
										<input type="submit" name="Submit" id="Submit" value="Submit" class="search-bt" />
									</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="main-content-wrapper">
			<div class="browser-center">
				<div id="left-content-area">
					<h1>About Billyslist</h1>
					<p>
						BillysList.com was founded by a small business owner who realized that just as good people need to be aware of bad contractors; good contractors need to be aware of bad people.  To Billy, it never seemed right to chalk up the actions of dishonest people to the cost of doing business.  The losses cost small businesses and consumers alike.  A bad customer should never have the last word.
					</p>
					<p>
						As contractors we all know that competition is a good thing.  We also know the benefit of working together through trade organizations and other programs.  This is where the inspiration came from for BillysList.com, because contractors need a voice too.
					</p>
					<p>
						In this internet driven world customers are able to know almost everything about a potential contractor.  The Federal, State and Local Governments regulate and keep tabs on us.  Organizations like the BBB and other consumer based rating services provide valuable information to guide someone in selecting a contractor that best fits them.  All of this takes place because of a few bad apples.  The majority of contractors are good and decent people, but the actions of a few, spread distrust upon all of us.
					</p>
					<p>
						BillysList.com seeks to level the playing field and put contractors at ease with the people they work for.  Just as consumers want to know who they are contracting with and what their track record is, business owners also understand that “it is better to know”.
					</p>
				</div>
				<div id="right-content-area">
					<div id="client-testimonials">
						<h1>Client Testimonials</h1>
						<ul class="bxslider">
							<li>
								<div class="testimonial-rotating">
									<div class="testimonial-desc">
										There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
									</div>
									<div class="testimonial-name">
										<h2>David William</h2>
										<h3>Plumber</h3>
									</div>
								</div>
							</li>

							<li>
								<div class="testimonial-rotating">
									<div class="testimonial-desc">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
									</div>
									<div class="testimonial-name">
										<h2>David William</h2>
										<h3>Plumber</h3>
									</div>
								</div>
							</li>

							<li>
								<div class="testimonial-rotating">
									<div class="testimonial-desc">
										It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
									</div>
									<div class="testimonial-name">
										<h2>David William</h2>
										<h3>Plumber</h3>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="footer-wrapper">
			<div class="browser-center">
				<div class="footer-links">
					<ul>
						<li>
							<a href="<%= root_url %>">Home</a>
						</li>
						<li>
							<a href="<%= nicks_list_About_url %>">About BillysList</a>
						</li>
						<li>
							<a href="<%= nicks_list_HowItWorks_url %>">How it works </a>
						</li>
						<li>
							<a href="#">FAQ’s</a>
						</li>
						<li>
							<a href="#">Testimonials</a>
						</li>
						<li>
							<a href="#">Press Release</a>
						</li>
						<li>
							<a href="#">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="copyright">
					Copyright © 2013. All Right Reserved. <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a>
				</div>
			</div>
		</div>

		</div>
	</body>
</html>
