<div id="footer-wrapper">
	<div class="browser-center">
		<div class="footer-links">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="<%= nicks_list_About_url %>">About BillysList</a>
				</li>
				<li>
					<a href="<%= nicks_list_HowItWorks_url %>">How it works </a>
				</li>
				<li>
					<a href="<%= nicks_list_FAQ_url %>">FAQ’s</a>
				</li>
				<li>
					<a href="<%= nicks_list_Testimonials_url %>">Testimonials</a>
				</li>
				<li>
					<a href="<%= nicks_list_PressRelease_url %>">Press Release</a>
				</li>
				<li>
					<a href="<%= nicks_list_ContactUs_url %>">Contact Us</a>
				</li>
			</ul>
		</div>
		<div class="copyright">
			Copyright © <%= Time.now.year %>. All Rights Reserved. <a href="<%= nicks_list_PrivacyPolicy_url %>">Privacy Policy</a> | <a href="<%= nicks_list_TermsConditions_url %>">Terms & Conditions</a>
		</div>
	</div>
</div>